$pokemon-size: 10vw;

//primary colors

$red: #ff0000;
$bostonuniversityred: #cc0000; 
$ceruleanblue: #3b4cca; 
$goldenyellow: #ffde00; 
$goldfoil: #b3a125; 

//text colors 
$lotion: #fafafa;
$offwhite: #FAF9F6;
$white: #FFFFFF;
//color src: https://www.schemecolor.com/jolteon-pokemon-colors.php

//screen responsive design
$tablet: 768px;
$desktop: 1280px;