@-webkit-keyframes pokeRun {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(80vw - (10vw * 1.2)));
  }
}
@keyframes pokeRun {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(80vw - (10vw * 1.2)));
  }
}
@-webkit-keyframes rotatePokemon {
  0% {
    transform: rotate(0) scaleX(-1);
  }
  25% {
    transform: rotate(-15deg) scaleX(-1);
  }
  50% {
    transform: rotate(0) scaleX(-1);
  }
  75% {
    transform: rotate(15deg) scaleX(-1);
  }
  100% {
    transform: rotate(0) scaleX(-1);
  }
}
@keyframes rotatePokemon {
  0% {
    transform: rotate(0) scaleX(-1);
  }
  25% {
    transform: rotate(-15deg) scaleX(-1);
  }
  50% {
    transform: rotate(0) scaleX(-1);
  }
  75% {
    transform: rotate(15deg) scaleX(-1);
  }
  100% {
    transform: rotate(0) scaleX(-1);
  }
}
body {
  background-color: red;
}

.imageH {
  position: relative;
  width: 100%;
  -webkit-animation: UpandSmall 1s ease-in 3s forwards;
          animation: UpandSmall 1s ease-in 3s forwards;
}
.imageH__image {
  width: 100%;
  transition: transform 5s;
}
@-webkit-keyframes UpandSmall {
  100% {
    transform: translateY(-50%);
    transform: translateX(110%);
    width: 30vw;
  }
}
@keyframes UpandSmall {
  100% {
    transform: translateY(-50%);
    transform: translateX(110%);
    width: 30vw;
  }
}

.games {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 2rem yellow;
  border-radius: 1rem;
}
.games__background {
  width: 100%;
  height: 20vw;
}
.games__background--gif {
  height: 30vw;
}
.games__track {
  background-image: url(./assets/image.png);
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  display: flex;
  z-index: -1;
}
.games__racers {
  z-index: 1;
  position: absolute;
  width: 100%;
}
.games__racer1 {
  width: 100%;
}
.games__racer1--1 {
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
}
.games__racer1--1-run {
  -webkit-animation: pokeRun 3s ease-in-out 2s 1 forwards;
          animation: pokeRun 3s ease-in-out 2s 1 forwards;
}
@-webkit-keyframes racer1 {
  100% {
    transform: translateX(90%);
  }
}
@keyframes racer1 {
  100% {
    transform: translateX(90%);
  }
}
.games__racer2 {
  width: 100%;
}
.games__racer2--2 {
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.games__racer2--2-run {
  -webkit-animation: pokeRun 3s ease-in-out 2s 1 forwards;
          animation: pokeRun 3s ease-in-out 2s 1 forwards;
}
@keyframes racer1 {
  100% {
    transform: translateX(90%);
  }
}
.games__pokemon {
  transform: scaleX(-1);
}
.games__pokemon--run {
  -webkit-animation: rotatePokemon 0.2s ease-in-out infinite forwards;
          animation: rotatePokemon 0.2s ease-in-out infinite forwards;
}

.get-pokemon {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.get-pokemon__logos {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.get-pokemon__logo {
  display: block;
  margin: 0 auto;
}
.get-pokemon__select {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 50%;
  height: 2rem;
}
.get-pokemon__buttons {
  display: flex;
}
.get-pokemon__button {
  margin: 1rem;
  letter-spacing: 2.4px;
  background-color: #ffde00;
  background: #ffe600, #ccb800;
  border: solid 1px #ffde00 #665c00;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #3b4cca;
  text-shadow: 0 -1px 0 #b3a125;
  padding: 1rem;
  margin-bottom: 0.9rem;
  box-shadow: inset 0 1px 0 #ffe600, 0 2px 0 #665c00, 0 3px 0 #5c5300, 0 4px 0 #524900, 0 5px 0 #474000, 0 6px 0 #3d3700, 0 7px 0 #332e00, 0 8px 0 #292500, 0 9px 0 #1f1c00;
}/*# sourceMappingURL=main.css.map */